* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: center/100% 100%
    url("../Day1-Piano/littledeep_nightsky_style1.png") no-repeat;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.piano {
  flex-shrink: 0;
}

.key {
  display: inline-block;
  margin: 0 -2px;
  position: relative;
  transition: all 0.1s;
  border-radius: 3px;
  border: 1px solid #000;
  text-align: center;
}

.key:nth-child(6) {
  margin-left: -4px;
}

.piano .key:first-child {
  margin-left: 3px;
}

.white {
  width: 50px;
  height: 200px;
  background-color: #fff;
}

.white.toggle {
  transform: scale(0.99);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.white span {
  vertical-align: -165px;
}

.black {
  display: inline;
  background-color: #000;
  border-radius: 3px;
  position: relative;
}

.black.toggle {
  box-shadow: inset 0 0 10px rgba(255, 255, 255);
}

.black span {
  position: absolute;
  display: block;
  width: 20px;
  height: 150px;
  top: -2px;
  left: -10px;
  background-color: #000;
  z-index: 10;
  border-radius: 3px;
  color: #fff;
  line-height: 250px;
}

.black.toggle span {
  transform: scale(0.99);
  box-shadow: inset 0 0 10px rgba(255, 255, 255);
}
